.saleItem {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: var(--gap);
  margin-bottom: var(--gap-s);
  align-items: center;
}

.saleItem a {
  font-family: monospace;
  text-decoration: none;
  color: inherit;
}

.saleItem div:last-child {
  justify-self: end;
}

@media (max-width: 700px) {
  .saleItem {
    grid-template-columns: 1fr;
  }

  .saleItem div:last-child {
    justify-self: start;
  }
}
